.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todos-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo {
  border: 2px solid #777;
  height: 200px;
  width: 200px;
}
.todo-buttons-container {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo-buttons {
  width: 101px;
  height: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
